<div id="currentuser">
  <div id="neworlogout">
    <h3><%= "Welcome #{current_user.name}" %></h3>
    <% g = User.current_game(current_user.id) %>
    <h2>
    <% if g  != nil %>
      <%= link_to "Continue game?", game_path(g),class: "btn btn-primary btn-lg" %>
    <% else %>
      <%= link_to "Play some jamb?", games_path,:method => :post, class: "btn btn-primary btn-lg"  %>
    <%end%>
    </h2> 
    <small><%= link_to "Sign out", signout_path, id: "sign_out" %> </small>
  </div>
  <br/>
  <br/>
  <div id="indexuserstat">
    <h3> Best players </h3>
   <ul> 
   <% User.all.each do |user|  %> 
   <li>
     <%= image_tag( user.image,:size => "30x30") %> &nbsp <%= user.name %>   &nbsp 
     <strong><%="Best: #{UserStat.user_games_best(user.id.to_s)}" %></strong> 
   </li>
   <%end%>
   </ul>  
  </div>
</div>

