<% content_for :home do %>
 <div id="home" %> 
   <%= image_tag "heading.jpeg" %><br/>
   <% if current_user %>
     <%= render partial: 'userindex' %>
   <%else%>    
     <h2><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-primary btn-lg" %></h2>
   <%end%>  
 </div>
<% end %>

<% content_for :yourstat do %> 
 <div id="indexyourstat">
   <h3> Your stat </h3>
  <% if current_user %>      
     <table id="imgstat"> 
      <tr class="bsrow"   >  
        <td class="bscores" ><ul id = "bestuserstat">
               <li><%= "Average: #{UserStat.user_average(current_user.id.to_s)}" %> </li> 
               <li><%= "Best : #{UserStat.user_games_best(current_user.id.to_s)}" %> </li> 
               <li><%= "Games played: #{UserStat.user_games_played(current_user.id.to_s)}" %></li> 
        </ul></td></tr></table>
  <%else%>
    Please login to see your stat  
  <%end%>
 </div>
<%end%>  

<% content_for :bestscores do %>
  <div id="indexuserstat">
    <h3> Best players </h3>
   <ul id = "bestlist" > 
   <% GamesStat.best_scores.each do |user|  %> 
   <li>
     <table id="imgstat"> 
      <tr class="bsrow"   >  
	<td class="imgtd"><%= image_tag( user.image, class: "bsimage"  ) %><br/><strong><%= user.name %></strong></td>
        <td class="bscores" ><ul id = "bestuserstat">
               <li><%= "Average: #{UserStat.user_average(user.id.to_s)}" %> </li> 
               <li><%= "Best : #{UserStat.user_games_best(user.id.to_s)}" %> </li> 
               <li><%= "Games played: #{UserStat.user_games_played(user.id.to_s)}" %></li> 
        </ul></td></tr></table> 
   </li>
   <%end%>
   </ul>  
  </div>
<%end%>

<% content_for :gamestats do %>
  <div id="gamestats">
    <h3> Game stat </h3>
   <ul id = "gamestatlist" > 
     <li>
       <%= "Games played : #{GamesStat.games_played}" %>
     </li>
     <li>
       <%= "Average score : #{GamesStat.all_user_average}" %>
     </li>

   </ul>  
  </div>
<%end%>

