<h1>Google</h1>
<% content_for :table do %>
  <table id="jtable" class="table table-bordered table-game">
    <% @jamb.rows do |row| %>
      <%  if row == 0  %>
	<thead><tr>
      <% else %> 
	<tr>
      <% end %>
      <% @jamb.columns do |col| %>
	<% if col == 0 %>
	  <%= content_tag :th , @jamb.cell(row,col).value , :class => @jamb.cell(row,col).class_str, :id => @jamb.cell_id(row,col) %>	     <% else %> 
	  <% if @jamb.cell(row,col).is_enabled? %>
            <%= content_tag :td ,  link_to("___ ", play_game_path( :row => row , :col=>col,:playround => @jamb.playround ),:method => :post  )  , :class => @jamb.cell(row,col).class_str,:id => @jamb.cell_id(row,col)  %>	  <% else %>
	    <%= content_tag :td ,  @jamb.cell(row,col).value , :class => @jamb.cell(row,col).class_str,:id => @jamb.cell_id(row,col)  %>	 
          <% end %>
       <% end %>
      <% end %>

      <%  if row == 0  %>
	</tr></thead><tbody>
      <% else %> 
	</tr>
      <% end %>

    <% end %>   
     </tbody>
  </table>
<%end%>

<% content_for :diceboard do%>
  <div id="diceboard"> 
    <div id="old">
    <script type='text/javascript'>
      D6.dice(5);
    </script>
    </div>
    <div id='new'>
      <% (0..5).each do |dice| %>
        <%= link_to select_game_path(:dice => dice ) , :method => :post do %>
          <%= image_tag @jamb.diceboard.img(dice) , :id => dice, :class => @jamb.diceboard.class_str(dice) %>  
	<%end%>  
      <% end %>
    </div>
    <%= "mode #{@jamb.diceboard.mode}" %>
    <% if @jamb.diceboard.mode != :end %> 
      <div id="roll_button">
        <%= link_to roll_game_path(:playroud => @jamb.playround),  { :method=>:post, :class =>  "btn btn-primary btn-large"} do %>
          <i class="icon-white icon-thumbs-up"></i> Roll selected dices</i>
        <% end %>
      </div>
      <div id="roll_other_button">
        <%= link_to roll_other_game_path(:playround => @jamb.playround) ,  { :method=>:post, :class =>  "btn btn-primary btn-large"} do %>
          <i class="icon-white icon-thumbs-up"></i> Roll unselected dices</i>
        <% end %>
      </div>  
    <% end %>
  </div>
<%end%>

