<% content_for :table do %>
  <table id="jtable" class="table table-bordered table-game">
    <% @jamb.rows do |row| %>
      <%  if row == 0  %>
	<thead><tr>
      <% else %> 
	<tr>
      <% end %>
      <% @jamb.columns do |col| %>
	<% if col == 0 %>
	  <%= content_tag :th , @jamb.cell(row,col).value , :class => @jamb.cell(row,col).class_str, :id => @jamb.cell_id(row,col) %>	
      <% else %> 
	  <%= render partial: 'cell', locals: { row: row, col: col }  %>
       <% end %>
      <% end %>

      <%  if row == 0  %>
	</tr></thead><tbody>
      <% else %> 
	</tr>
      <% end %>

    <% end %>   
     </tbody>
  </table>
<%end%>

<% content_for :userstat do %>
   <% if current_user %> 
     <%= image_tag current_user.image %> 
     <%= current_user.name %>
     <%= "Last score:    #{UserStat.user_last_score(current_user.id.to_s)}" %></br>
     <%= "Average score: #{UserStat.user_average(current_user.id.to_s).to_i}" %></br>
     <%= "Games Played:  #{UserStat.user_games_played(current_user.id.to_s)}" %></br>
     <%= "Best Game:  #{UserStat.user_games_best(current_user.id.to_s)}" %></br>
   <% end %>  
<%end%>

<% content_for :diceboard do%>
  <% if @jamb.diceboard.mode != :end_game %>   
    <div id='diceboard'>
      <%= render partial: "dices" %><br/>
      <span id="roll_buttons">
        <%= render partial: "buttons" %>
      </span>
    </div>
  <% else %>
      <%= render partial: "end_game" %>
  <% end %>
<%end%>

