<% content_for :table do %>
 <%= render partial: "table"%>
<%end%>

<% content_for :userstat do %>
  <%= render partial: "userstat" %>  
<%end%>

<% content_for :userinfo do %>
 <div id="testdice0"></div>
 <div id="testdice1"></div>
 <div id="testdice2"></div>
 <div id="testdice3"></div>
 <div id="testdice4"></div>
  <%= render partial: "userinfo" %>
<%end%>

<% content_for :diceboard do%>
 
  <% if @jamb.diceboard.mode != :end_game %>   
    <div id='diceboard'>
      <%= render partial: "dices" %><br/><br/>
      <span id="roll_buttons">
        <%= render partial: "buttons" %>
      </span>
    </div>
  <% else %>
      <%= render partial: "end_game" %>
  <% end %>
<%end%>

<% content_for :jscripts do %>
<div class="play"> Play </div>
<script>
         
        $(document).ready(function() {
        var audioElement = document.createElement('audio');
        audioElement.setAttribute('src', '/diceroll.wav');
	audioElement.setAttribute('id', 'dicerollsound');
//        audioElement.setAttribute('autoplay', 'autoplay');
        audioElement.load();
//       $.get();
//        audioElement.addEventListener("load", function() {
//        audioElement.play();
//        }, true);

        $('.play').click(function() {
           audioElement.play();
        });



});
</script>
<%end%>
